@charset "UTF-8";

/*variaveis globais*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh; /*altura total da tela*/
    width: 100vw; /*largura total da tela*/
    background-color: hotpink;
}

body{
   background: url('../imagens/fundo-rosa.jpg') no-repeat top center; 
   background-size: cover;
   background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

/*configurações do celular*/
section#telefone{
    /*centralizando o conteudo*/
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);

    height: 547px;
    width: 271px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

/*ajustando o tamanho do iframe*/
iframe#tela{
   position: relative; 
   top: 70px;
   left: 19px;
   width: 229px;
   height: 409px;
}

section#redes-sociais{
    text-align: right; /*alinhando a fileira de icones a direita*/
}

section#redes-sociais img{
    width: 50px; /*diminuindo o tamanho das imagens de icone*/
    margin: 3px;
    border-radius: 50%; /*deixando a imagem redonda*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.331);
    box-sizing:border-box ;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(216, 112, 147, 0.756); /*borda ao redor de cada icone*/
    transform: translate(-3px, -3px); /*dando uma levantada no icone quando o mouse para nele*/
    transition: transform .5s; /*movimentação do icone*/
}